<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a id="logo" class="pull-left" href="index.html"></a>
            <div class="nav-collapse collapse pull-right">
                <ul class="nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Us", "Index", "AboutUs")</li>
                    <li>@Html.ActionLink("Services", "Index", "Services")</li>
                    <li>@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Additional<i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("404", "404Page", "Additional")</li>
                            <li>@Html.ActionLink("Privacy policy", "PrivacyPolicy", "Additional")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact", "Index", "ContactUs")</li>
                </ul>
            </div>
        </div>
    </div>
</header>
